.content{
  font-family: 'Courgette', cursive;
  background:#dfdcdc;

}
.wrap{
  margin:0 auto;
  width:100vw;
  height: 100vh;
}
.logo{
  margin-top:0;
}
.logo h1{
  font-size:400px;
  color:#49a6c5;
  text-align:center;
  margin-bottom:1px;
  text-shadow:1px 1px 6px #fff;
}
.logo p{
  color:rgb(228, 146, 162);
  font-size:30px;
  margin-top:1px;
  text-align:center;
}
.logo p{
  color:rgb(237, 30, 241);
}
.sub a{
  color:white;
  background:#8F8E8C;
  text-decoration:none;
  padding:7px 120px;
  font-size:13px;
  font-family: arial, serif;
  font-weight:bold;
  border-radius:3em;
  border-radius:.1em;
}